.wrap {
    min-width: 600px;
    width: 80%;
    background: green;
    overflow: hidden;
}
.content {
    width: 75%;
    background: red;
    float: left;
}
aside {
    width: 25%;
    background: orchid;
    float: right;
}
.content,aside {
    height: 400px;
}
aside ul{
    padding-left: 5px;
    list-style: none;
}